.stopwatch-container {
  background-color: #0d0d0d;
  height: 600px;
  width: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}
header {
  background-color: #181818;
  width: inherit;
  height: 8%;
  color: white;
  text-align: center;
}

.time {
  font-size: 65px;
  color: #f6f6f6;
  font-weight: 600;
  font-feature-settings: "tnum";
}

.button-container {
  display: flex;
  flex-direction: row;
  width: inherit;
  justify-content: space-around;
}

.gen-button {
  border-radius: 50%;
  width: 67px;
  height: 67px;
  border: none;
}

.start-btn {
  background-color: #172d1e;
  color: #68c76a;
}
.stop-btn {
  background-color: #330d0c;
  color: #c25b46;
}

.lap-reset-btn {
  background-color: #333333;
  color: #f9f9f9;
}

.dots {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dot {
  background-color: white;
  border-radius: 50%;
  height: 8px;
  width: 8px;
}

.dot-empty {
  background-color: #181818;
  border-radius: 50%;
  height: 8px;
  width: 8px;
}

.laps-container {
  width: inherit;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 25px;
}
.laps-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0 35px;
  width: 100%;
  padding: 0;
}

.laps-table:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.lap {
  font-family: "Inter", sans-serif;
  font-feature-settings: "tnum";
  color: #f6f6f6;
  height: 25px;
  width: 100%;
  display: flex;
  padding: 5px 0;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
footer {
  background-color: #181818;
  height: 8%;
  width: inherit;
}
